<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>#</key>
			<integer>1</integer>
			<key>icon</key>
			<string>freedom</string>
			<key>iconDetail</key>
			<string></string>
			<key>amendmentNumber</key>
			<string>First</string>
			<key>subtitle</key>
			<string>Freedom</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>2</integer>
			<key>icon</key>
			<string>guns</string>
			<key>amendmentNumber</key>
			<string>Second</string>
			<key>subtitle</key>
			<string>Arms</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>3</integer>
			<key>icon</key>
			<string>soldier</string>
			<key>amendmentNumber</key>
			<string>Third</string>
			<key>subtitle</key>
			<string>Quartering</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>4</integer>
			<key>icon</key>
			<string>warrant</string>
			<key>amendmentNumber</key>
			<string>Fourth</string>
			<key>subtitle</key>
			<string>Unreasonable search</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>5</integer>
			<key>icon</key>
			<string>ladyjustice</string>
			<key>amendmentNumber</key>
			<string>Fifth</string>
			<key>subtitle</key>
			<string>Just legal procedure</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>6</integer>
			<key>icon</key>
			<string>gavel</string>
			<key>amendmentNumber</key>
			<string>Sixth</string>
			<key>subtitle</key>
			<string>Due Process</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>7</integer>
			<key>icon</key>
			<string>jury</string>
			<key>amendmentNumber</key>
			<string>Seventh</string>
			<key>subtitle</key>
			<string>Jury Trial</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>8</integer>
			<key>icon</key>
			<string>cruel</string>
			<key>amendmentNumber</key>
			<string>Eighth</string>
			<key>subtitle</key>
			<string>Unusual punishment</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>9</integer>
			<key>icon</key>
			<string>weThePeople</string>
			<key>amendmentNumber</key>
			<string>Ninth</string>
			<key>subtitle</key>
			<string>Rights of the People</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>10</integer>
			<key>icon</key>
			<string>treadOnMe_noText</string>
			<key>amendmentNumber</key>
			<string>Tenth</string>
			<key>subtitle</key>
			<string>State Sovereignty</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>#</key>
			<integer>11</integer>
			<key>icon</key>
			<string>statesovereignty</string>
			<key>amendmentNumber</key>
			<string>Eleventh</string>
			<key>subtitle</key>
			<string>Sovereign Immunity</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>12</integer>
			<key>icon</key>
			<string>twelve</string>
			<key>amendmentNumber</key>
			<string>Twelfth</string>
			<key>subtitle</key>
			<string>Electoral Procedure</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>13</integer>
			<key>icon</key>
			<string>lincoln</string>
			<key>amendmentNumber</key>
			<string>Thirteenth</string>
			<key>subtitle</key>
			<string>Slavery Outlawed</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>14</integer>
			<key>icon</key>
			<string>freeAtLast</string>
			<key>amendmentNumber</key>
			<string>Fourteenth</string>
			<key>subtitle</key>
			<string>Citizenship</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>15</integer>
			<key>icon</key>
			<string>thefirstvote</string>
			<key>amendmentNumber</key>
			<string>Fifteenth</string>
			<key>subtitle</key>
			<string>Right to Vote</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>16</integer>
			<key>icon</key>
			<string>1040</string>
			<key>amendmentNumber</key>
			<string>Sixteenth</string>
			<key>subtitle</key>
			<string>Income Tax</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>17</integer>
			<key>icon</key>
			<string>jenningsBryan</string>
			<key>amendmentNumber</key>
			<string>Seventeenth</string>
			<key>subtitle</key>
			<string>Direct Election of Senators</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>18</integer>
			<key>icon</key>
			<string>prohibition</string>
			<key>amendmentNumber</key>
			<string>Eighteenth</string>
			<key>subtitle</key>
			<string>Prohibition</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>19</integer>
			<key>icon</key>
			<string>suffrage</string>
			<key>amendmentNumber</key>
			<string>Nineteenth</string>
			<key>subtitle</key>
			<string>Women&apos;s Suffrage</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>20</integer>
			<key>icon</key>
			<string>20th</string>
			<key>amendmentNumber</key>
			<string>Twentieth</string>
			<key>subtitle</key>
			<string>Terms of Federal Office</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>21</integer>
			<key>icon</key>
			<string>21st</string>
			<key>amendmentNumber</key>
			<string>Twenty-first</string>
			<key>subtitle</key>
			<string>Repeal of Prohibition</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>22</integer>
			<key>icon</key>
			<string>FDR</string>
			<key>amendmentNumber</key>
			<string>Twenty-second</string>
			<key>subtitle</key>
			<string>Presidential Term Limits</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>23</integer>
			<key>icon</key>
			<string>DC_suffrage</string>
			<key>amendmentNumber</key>
			<string>Twenty-third</string>
			<key>subtitle</key>
			<string>DC Voting Rights</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>24</integer>
			<key>icon</key>
			<string>polltax</string>
			<key>amendmentNumber</key>
			<string>Twenty-fourth</string>
			<key>subtitle</key>
			<string>Poll Tax</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>25</integer>
			<key>icon</key>
			<string>johnson</string>
			<key>amendmentNumber</key>
			<string>Twenty-fifth</string>
			<key>subtitle</key>
			<string>Presidential Succession</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>26</integer>
			<key>icon</key>
			<string>26th</string>
			<key>amendmentNumber</key>
			<string>Twenty-sixth</string>
			<key>subtitle</key>
			<string>Voting Age</string>
		</dict>
		<dict>
			<key>#</key>
			<integer>27</integer>
			<key>icon</key>
			<string>27th</string>
			<key>amendmentNumber</key>
			<string>Twenty-seventh</string>
			<key>subtitle</key>
			<string>Congressional Salaries</string>
		</dict>
	</array>
</array>
</plist>
