<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Title</key>
			<string>First Amendment</string>
			<key>Summary</key>
			<string>The First Amendment prohibits any law respecting an establishment of religion, impeding the free exercise of religion, abridging the freedom of speech, infringing on the freedom of the press, interfering with the right to peaceably assemble or prohibiting the right to petition. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary1</string>
			<key>originalTextHTMLpath</key>
			<string>originalText1</string>
			<key>queryKeywords</key>
			<array>
				<string>1st</string>
				<string>first</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Second Amendment</string>
			<key>Summary</key>
			<string>The Second Amendment states: &quot;A well regulated militia being necessary to the security of a free state, the right of the people to keep and bear arms, shall not be infringed.&quot; It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary2</string>
			<key>originalTextHTMLpath</key>
			<string>originalText2</string>
			<key>queryKeywords</key>
			<array>
				<string>2nd</string>
				<string>second</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Third Amendment</string>
			<key>Summary</key>
			<string>The Third Amendment prohibits, in peacetime or wartime, the quartering of soldiers in private homes without the owner&apos;s consent. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary3</string>
			<key>originalTextHTMLpath</key>
			<string>originalText3</string>
			<key>queryKeywords</key>
			<array>
				<string>3rd</string>
				<string>third</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Fourth Amendment</string>
			<key>Summary</key>
			<string>The Fourth Amendment guards against unreasonable searches and seizures, along with requiring any warrant to be judicially sanctioned and supported by probable cause. It was adopted as a response to the abuse of the writ of assistance in the American Revolution. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary4</string>
			<key>originalTextHTMLpath</key>
			<string>originalText4</string>
			<key>queryKeywords</key>
			<array>
				<string>4th</string>
				<string>fourth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Fifth Amendment</string>
			<key>Summary</key>
			<string>The Fifth Amendment protects against abuse of government authority in a legal procedure. Its guarantees stem from English common law which traces back to Magna Carta in 1215. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary5</string>
			<key>originalTextHTMLpath</key>
			<string>originalText5</string>
			<key>queryKeywords</key>
			<array>
				<string>5th</string>
				<string>fifth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sixth Amendment</string>
			<key>Summary</key>
			<string>The Sixth Amendment sets forth rights related to criminal prosecutions. The Supreme Court has applied the protections of this amendment to the states through the Due Process Clause of the Fourteenth Amendment. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary6</string>
			<key>originalTextHTMLpath</key>
			<string>originalText6</string>
			<key>queryKeywords</key>
			<array>
				<string>6th</string>
				<string>sixth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Seventh Amendment</string>
			<key>Summary</key>
			<string>The Seventh Amendment codifies the right to a jury trial in certain civil cases, and asserts that cases may not be re-examined by another court. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary7</string>
			<key>originalTextHTMLpath</key>
			<string>originalText7</string>
			<key>queryKeywords</key>
			<array>
				<string>7th</string>
				<string>seventh</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Eighth Amendment</string>
			<key>Summary</key>
			<string>The Eighth Amendment prohibits the federal government from imposing excessive bail, excessive fines or cruel and unusual punishments, including torture. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary8</string>
			<key>originalTextHTMLpath</key>
			<string>originalText8</string>
			<key>queryKeywords</key>
			<array>
				<string>8th</string>
				<string>eighth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ninth Amendment</string>
			<key>Summary</key>
			<string>The Ninth Amendment addresses rights of the people that are not specifically enumerated in the Constitution. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary9</string>
			<key>originalTextHTMLpath</key>
			<string>originalText9</string>
			<key>queryKeywords</key>
			<array>
				<string>9th</string>
				<string>ninth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tenth Amendment</string>
			<key>Summary</key>
			<string>The Tenth Amendment states the Constitution&apos;s principle of federalism by providing that powers not granted to the federal government by the Constitution, nor prohibited to the States, are reserved to the States or the people. It is part of the Bill of Rights, ratified on December 15, 1791.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary10</string>
			<key>originalTextHTMLpath</key>
			<string>originalText10</string>
			<key>queryKeywords</key>
			<array>
				<string>10th</string>
				<string>tenth</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>Eleventh Amendment</string>
			<key>Summary</key>
			<string>The Eleventh Amendment deals with each state&apos;s sovereign immunity. This amendment was adopted in order to overrule the U.S. Supreme Court&apos;s decision in Chisholm v. Georgia (1793). It was ratified on February 7, 1795.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary11</string>
			<key>originalTextHTMLpath</key>
			<string>originalText11</string>
			<key>queryKeywords</key>
			<array>
				<string>11th</string>
				<string>eleventh</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twelfth Amendment</string>
			<key>Summary</key>
			<string>The Twelfth Amendment provides the procedure for electing the President and Vice President. It replaced Article II, Section 1, Clause 3, of the Constitution which provided the original procedure by which the Electoral College functioned. Problems with the original procedure arose in the elections of 1796 and 1800. It was ratified on June 15, 1804.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary12</string>
			<key>originalTextHTMLpath</key>
			<string>originalText12</string>
			<key>queryKeywords</key>
			<array>
				<string>12th</string>
				<string>twelfth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Thirteenth Amendment</string>
			<key>Summary</key>
			<string>The Thirteenth Amendment outlaws slavery and involuntary servitude, except as punishment for a crime.It was the first of the three Reconstruction Amendments adopted after the Civil War. It was passed by the Senate on April 8, 1864, by the House on January 31, 1865, and adopted on December 6, 1865.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary13</string>
			<key>originalTextHTMLpath</key>
			<string>originalText13</string>
			<key>queryKeywords</key>
			<array>
				<string>13th</string>
				<string>thirteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Fourteenth Amendment</string>
			<key>Summary</key>
			<string>The Fourteenth Amendment is one of the Reconstruction Amendments. Its Citizenship Clause provides a broad definition of citizenship that overruled the Supreme Court&apos;s ruling in Dred Scott v. Sandford (1857) that had held that people of African descent could not be citizens of the United States. It was adopted on July 9, 1868.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary14</string>
			<key>originalTextHTMLpath</key>
			<string>originalText14</string>
			<key>queryKeywords</key>
			<array>
				<string>14th</string>
				<string>fourteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Fifteenth Amendment</string>
			<key>Summary</key>
			<string>The Fifteenth Amendment prohibits each government in the United States from denying a citizen the right to vote based on that citizen&apos;s &quot;race, color, or previous condition of servitude&quot; (i.e. slavery). It is one of the Reconstruction Amendments, ratified on February 3, 1870.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary15</string>
			<key>originalTextHTMLpath</key>
			<string>originalText15</string>
			<key>queryKeywords</key>
			<array>
				<string>15th</string>
				<string>fifteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sixteenth Amendment</string>
			<key>Summary</key>
			<string>The Sixteenth Amendment allows the Congress to levy an income tax without apportioning it among the states or basing it on Census results. It exempted income taxes from the constitutional requirements regarding direct taxes, in essence removing any barriers to permitting an income tax. It was ratified on February 3, 1913.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary16</string>
			<key>originalTextHTMLpath</key>
			<string>originalText16</string>
			<key>queryKeywords</key>
			<array>
				<string>16th</string>
				<string>sixteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Seventeenth Amendment</string>
			<key>Summary</key>
			<string>The Seventeeth Amendment established direct election of United States Senators by popular vote, prior to which senators were elected by state legislatures. It also altered the procedure for filling Senate vacancies, allowing governors to make temporary appointments until a special election can be held. It was ratified on April 8, 1913.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary17</string>
			<key>originalTextHTMLpath</key>
			<string>originalText17</string>
			<key>queryKeywords</key>
			<array>
				<string>17th</string>
				<string>seventeenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Eighteenth Amendment</string>
			<key>Summary</key>
			<string>The Eighteenth Amendment effectively established the prohibition of alcoholic beverages by declaring the production, transport and sale of (though not the consumption or private possession of) alcohol illegal. The separate Volstead Act set down methods of enforcing the Eighteenth Amendment. It was ratified on January 16, 1919.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary18</string>
			<key>originalTextHTMLpath</key>
			<string>originalText18</string>
			<key>queryKeywords</key>
			<array>
				<string>18th</string>
				<string>eighteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Nineteenth Amendment</string>
			<key>Summary</key>
			<string>The Nineteenth Amendment prohibits any citizen from being denied the right to vote on the basis of sex.  It effectively overruled Minor v. Happersett (1875), in which a unanimous Supreme Court ruled that the Fourteenth Amendment did not give women the right to vote. It was ratified on August 18, 1920.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary19</string>
			<key>originalTextHTMLpath</key>
			<string>originalText19</string>
			<key>queryKeywords</key>
			<array>
				<string>19th</string>
				<string>nineteenth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twentieth Amendment</string>
			<key>Summary</key>
			<string>The Twentieth Amendment establishes the beginning and ending of the terms of the elected federal offices. It also has provisions that determine what is to be done when there is no President-elect. It was ratified on January 23, 1933.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary20</string>
			<key>originalTextHTMLpath</key>
			<string>originalText20</string>
			<key>queryKeywords</key>
			<array>
				<string>20th</string>
				<string>twentieth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-first Amendment</string>
			<key>Summary</key>
			<string>The Twenty-first Amendment repealed the Eighteenth Amendment, which had mandated nationwide Prohibition on alcohol on January 17, 1920. It is unique among the 27 Amendments for being the only one to repeal a previous Amendment. It was ratified on December 5, 1933.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary21</string>
			<key>originalTextHTMLpath</key>
			<string>originalText21</string>
			<key>queryKeywords</key>
			<array>
				<string>21st</string>
				<string>twenty-first</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-second Amendment</string>
			<key>Summary</key>
			<string>The Twenty-second Amendment sets a term limit of two terms for election to the office of President. Broad support was raised for the amendment after Franklin D. Roosevelt had served as President for three terms and won a fourth in 1944 election. Congress passed the amendment on March 21, 1947 and it was ratified on February 27, 1951.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary22</string>
			<key>originalTextHTMLpath</key>
			<string>originalText22</string>
			<key>queryKeywords</key>
			<array>
				<string>22nd</string>
				<string>twenty-second</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-third Amendment</string>
			<key>Summary</key>
			<string>The Twenty-third Amendment permits citizens in the District of Columbia to vote for Electors for President and Vice President. Prior to its passage, residents of D.C. were forbidden from voting for President or Vice President as the District is not a U.S. state. It was ratified on March 29, 1961.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary23</string>
			<key>originalTextHTMLpath</key>
			<string>originalText23</string>
			<key>queryKeywords</key>
			<array>
				<string>23rd</string>
				<string>twenty-third</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-fourth Amendment</string>
			<key>Summary</key>
			<string>The Twenty-fourth Amendment prohibits both Congress and the states from conditioning the right to vote in federal elections on payment of a poll tax or other types of tax. Poll taxes appeared in southern states after Reconstruction as a measure to prevent African Americans from voting. It was ratified on January 23, 1964.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary24</string>
			<key>originalTextHTMLpath</key>
			<string>originalText24</string>
			<key>queryKeywords</key>
			<array>
				<string>24th</string>
				<string>twenty-fourth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-fifth Amendment</string>
			<key>Summary</key>
			<string>The Twenty-fifth Amendment deals with succession to the Presidency and establishes procedures both for filling a vacancy in the office of the Vice President, as well as responding to Presidential disabilities. It supersedes ambiguous wording in Article II, Section 1, Clause 6 of the Constitution. It was adopted on February 23, 1967.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary25</string>
			<key>originalTextHTMLpath</key>
			<string>originalText25</string>
			<key>queryKeywords</key>
			<array>
				<string>25th</string>
				<string>twenty-five</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-sixth Amendment</string>
			<key>Summary</key>
			<string>The Twenty-sixth Amendment bars the states and the federal government from setting a voting age higher than eighteen. It was adopted in response to student activism against the Vietnam War and to partially overrule the Supreme Court&apos;s decision in Oregon v. Mitchell (1970). It was adopted on July 1, 1971.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary26</string>
			<key>originalTextHTMLpath</key>
			<string>originalText26</string>
			<key>queryKeywords</key>
			<array>
				<string>26th</string>
				<string>twenty-sixth</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twenty-seventh Amendment</string>
			<key>Summary</key>
			<string>Twenty-seventh Amendment prohibits any law that increases or decreases the salary of members of the Congress from taking effect until the start of the next set of terms of office for Representatives. It was submitted to the states for ratification in 1789 and was adopted in 1992.</string>
			<key>extendedSummaryHTMLpath</key>
			<string>extendedSummary27</string>
			<key>originalTextHTMLpath</key>
			<string>originalText27</string>
			<key>queryKeywords</key>
			<array>
				<string>27th</string>
				<string>twenty-seventh</string>
			</array>
		</dict>
	</array>
</array>
</plist>
